.button-container {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.modal-dialog {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
}

.modal-content {
    width: 100%;
}

.modal-body {
    text-align: left;
    font-weight: bold;
    width: 100%;
}